{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "env": {
    "es2021": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "_"
      }
    ],
    "@typescript-eslint/array-type": "error"
  }
}
