.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 9rem;

  h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;

    color: #fff1fe;
  }

  button {
    width: 20rem;
    height: 6rem;

    background: #24e6ee;
    border: none;
    border-radius: 1rem;

    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;

    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}