@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-image: url('./assets/img/wallpaper.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
input,
textarea,
button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 9rem;
  margin: 30px;

  h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;

    color: #fff1fe;
  }

  button {
    width: 20rem;
    height: 6rem;

    background: #24e6ee;
    border: none;
    border-radius: 1rem;

    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;

    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
